/* Monobook Mobile main stylesheet */
/** Main interface **/
.skin-monobook.mbm-on {
    zoom: 1.1;
}
.skin-monobook #p-mbm {
    display: block;
    background-color: inherit;
    box-shadow: 0 0 1px 0 currentColor;
    color: inherit;
    font-size: small;
    font-weight: bold;
    padding: 1em 2em;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    text-transform: uppercase;
    transition: outline;
    transition-duration: 0.2s;
    z-index: 10;
    cursor: pointer;
}
.skin-monobook #p-mbm:hover {
    outline: 1px solid currentColor;
    border-radius: 2px;
}
.skin-monobook #p-mbm:before {
    background: url('https://upload.wikimedia.org/wikipedia/commons/0/05/Ic_smartphone_48px.svg');
    background-size: 10px;
    content: '';
    display: inline-block;
    height: 10px;
    width: 8px;
    margin-right: 6px;
}
.skin-monobook.page-dark #p-mbm:before {
    filter: invert(1);
}
.skin-monobook.mbm-on.page-dark {
    color: #d5d4d4;
}
.skin-monobook.mbm-on #globalWrapper {
    display: flex;
    flex-direction: column;
}
.skin-monobook.mbm-on #column-one,
.skin-monobook.mbm-on #column-content,
.skin-monobook.mbm-on #footer {
    display: flex;
    flex-direction: column;
}
.skin-monobook.mbm-on #mbm-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
/* Theming */
.skin-monobook.mbm-on #content,
.skin-monobook.mbm-on #content h1,
.skin-monobook.mbm-on #content h2,
.skin-monobook.mbm-on #content h3,
.skin-monobook.mbm-on #content h4,
.skin-monobook.mbm-on #content h5,
.skin-monobook.mbm-on #content h6,
.skin-monobook.mbm-on #column-one .portlet .pBody {
    color: #3a3a3a;
}
.skin-monobook.mbm-on.page-dark #content,
.skin-monobook.mbm-on.page-dark #content h1,
.skin-monobook.mbm-on.page-dark #content h2,
.skin-monobook.mbm-on.page-dark #content h3,
.skin-monobook.mbm-on.page-dark #content h4,
.skin-monobook.mbm-on.page-dark #content h5,
.skin-monobook.mbm-on.page-dark #content h6,
.skin-monobook.mbm-on.page-dark #column-one .portlet .pBody {
    color: #d5d4d4;
}
.skin-monobook.mbm-on #column-content textarea,
.skin-monobook.mbm-on #column-content input,
.skin-monobook.mbm-on #column-content select {
    color: #3a3a3a;
    border-color: hsla(0,0%,0%,0.2) !important;
}
.skin-monobook.mbm-on #column-one .portlet h5,
.skin-monobook.mbm-on #content .firstHeading,
.skin-monobook.mbm-on #content #firstHeading,
.skin-monobook.mbm-on #column-content #siteSub,
.skin-monobook.mbm-on #column-content #contentSub,
.skin-monobook.mbm-on #column-content #contentSub2,
.skin-monobook.mbm-on #footer #lastmod {
    color: #000;
}
.skin-monobook.mbm-on.header-dark #column-one .portlet h5,
.skin-monobook.mbm-on.header-dark #content .firstHeading,
.skin-monobook.mbm-on.header-dark #content #firstHeading,
.skin-monobook.mbm-on.header-dark #column-content #siteSub,
.skin-monobook.mbm-on.header-dark #column-content #contentSub,
.skin-monobook.mbm-on.header-dark #column-content #contentSub2,
.skin-monobook.mbm-on.header-dark #footer #lastmod {
    color: #fff;
}
.skin-monobook.mbm-on.page-dark #column-content textarea,
.skin-monobook.mbm-on.page-dark #column-content input,
.skin-monobook.mbm-on.page-dark #column-content select {
    color: #d5d4d4;
    border-color: hsla(0,0%,100%,0.2) !important;
}
.skin-monobook.mbm-on #column-one,
.skin-monobook.mbm-on #column-one .portlet .pBody,
.skin-monobook.mbm-on::-webkit-scrollbar {
    background-color: #fff;
}
.skin-monobook.mbm-on.page-dark #column-one,
.skin-monobook.mbm-on.page-dark #column-one .portlet .pBody,
.skin-monobook.mbm-on.page-dark::-webkit-scrollbar {
    background-color: #000;
}
.skin-monobook.mbm-on::-webkit-scrollbar,
.skin-monobook.mbm-on *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.skin-monobook.mbm-on::-webkit-scrollbar-thumb,
.skin-monobook.mbm-on *::-webkit-scrollbar-thumb {
    height: 6px;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 7px;
    background-color: hsla(0, 0%, 50%, 0.3);
    box-shadow: inset -1px -1px 0 hsla(0, 0%, 50%, 0.1), inset 1px 1px 0px hsla(0, 0%, 50%, 0.1);
}
/** Navigation **/
.skin-monobook.mbm-on #column-one {
    order: 1;
    padding: 0;
    border: none;
}
.skin-monobook.mbm-on #column-one .portlet {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}
.skin-monobook.mbm-on #column-one #p-logo {
    order: 1;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    position: relative;
    top: initial;
    left: initial;
    overflow: hidden;
}
.skin-monobook.mbm-on #column-one #p-logo:after {
	z-index: -1;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}
.skin-monobook.mbm-on #column-one #p-logo a,
.skin-monobook.mbm-on #column-one #p-logo a:hover {
    height: 36px;
    width: 140px;
    background-size: contain;
    margin: auto;
}
.skin-monobook.mbm-on #p-logo #p-navicon,
.skin-monobook.mbm-on #p-logo #p-schicon,
.skin-monobook.mbm-on #column-one .portlet h5:after {
    background-repeat: no-repeat;
    background-position: center;
}
.skin-monobook.mbm-on.header-dark #p-logo #p-navicon,
.skin-monobook.mbm-on.header-dark #p-logo #p-schicon,
.skin-monobook.mbm-on.header-dark #column-one .portlet h5:after {
    filter: invert(1);
}
.skin-monobook.mbm-on #p-logo #p-navicon,
.skin-monobook.mbm-on #p-logo #p-schicon {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 10;
}
.skin-monobook.mbm-on #p-logo #p-navicon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Ic_menu_48px.svg');
    background-size: 24px;
    left: 0;
    transform: rotateX(180deg);
    transition-property: background-image, transform;
    transition-delay: 0.2s;
}
.skin-monobook.mbm-on #p-logo #p-schicon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a8/Ic_search_48px.svg');
    background-size: 24px;
    right: 0;
}
.skin-monobook.mbm-on #column-one.is-visible #p-logo #p-navicon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2c/Ic_expand_less_48px.svg');
    transform: rotateX(0deg);
}
.skin-monobook.mbm-on #column-one.is-search #p-logo #p-schicon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/Ic_highlight_remove_48px.svg');
    background-size: 20px;
}
.skin-monobook.mbm-on #column-one:not(.is-visible) .portlet,
.skin-monobook.mbm-on #column-content:not(.is-visible),
.skin-monobook.mbm-on #footer:not(.is-visible),
.skin-monobook.mbm-on #p-search:not(.is-visible) {
    display: none;
}
.skin-monobook.mbm-on #column-one:not(.is-visible) #p-logo,
.skin-monobook.mbm-on #column-one #p-search.is-visible {
    display: flex;
}
.skin-monobook.mbm-on #column-one.is-visible {
    min-height: 100vh;
}
.skin-monobook.mbm-on #column-one .portlet {
    border-bottom: 1px solid hsla(0,0%,50%,0.2);
    margin-bottom: 0;
}
.skin-monobook.mbm-on #column-one .portlet ul {
    font-size: 13px;
    line-height: 1.5em;
    list-style-type: none;
    list-style-image: initial;
    margin: 0;
}
.skin-monobook.mbm-on #column-one .portlet br {
    display: none;
}
.skin-monobook.mbm-on #column-one .portlet hr {
    border-color: currentColor;
    color: inherit;
    margin: 0 0.5em;
    opacity: 0.125;
}
.skin-monobook.mbm-on #column-one .portlet .pBody {
    display: none;
    padding: 0;
}
.skin-monobook.mbm-on #column-one .portlet.is-visible .pBody {
    display: block;
    border: solid hsla(0,0%,50%,0.2);
    border-width: 1px 0 0;
}
.skin-monobook.mbm-on #column-one .portlet h5 {
    color: #fff;
    font-weight: bold;
    padding: 0.75em;
    text-transform: lowercase;
}
.skin-monobook.mbm-on #column-one .portlet h5:first-letter {
    text-transform: uppercase;
}
.skin-monobook.mbm-on #column-one .portlet .pBody > ul > li {
    line-height: inherit;
    padding: 0;
}
.skin-monobook.mbm-on #column-one .portlet .pBody > ul > li > a {
    display: block;
    padding: 0.5em 1em;
    width: 100%;
}
.skin-monobook.mbm-on #column-one .portlet .pBody li[id^="pt-"]:hover > a,
.skin-monobook.mbm-on #column-one .portlet .pBody > ul> li:hover > a {
    background: hsla(0, 0%, 50%, 0.2) !important;
}
.skin-monobook.mbm-on #column-one .portlet .pBody li a:hover {
    text-decoration: none;
}
.skin-monobook.mbm-on #column-one .portlet h5:after {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6f/Ic_chevron_right_48px.svg');
    background-size: 24px;
    content: "";
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    width: 36px;
    height: 36px;
    transform: rotateZ(0deg);
    transition-property: transform;
    transition-duration: 0.2s;
}
.skin-monobook.mbm-on #column-one .portlet.is-visible h5:after {
    transform: rotateZ(90deg);
}
.skin-monobook.mbm-on #column-one #p-search {
    order: 2;
}
.skin-monobook.mbm-on #column-one #p-search .pBody {
    color: #000;
}
.skin-monobook.mbm-on.header-dark #column-one #p-search .pBody {
    color: #fff;
}
.skin-monobook.mbm-on #column-one #p-search .pBody {
    border: none;
}
.skin-monobook.mbm-on #column-one #p-search h5 {
    display: none;
}
.skin-monobook.mbm-on #p-search #searchform {
    display: flex;
    height: 40px;
    font-size: 0;
}
.skin-monobook.mbm-on #p-search input {
    font-size: 14px;
    background: transparent;
    border: none;
    height: 100%;
    color: inherit;
}
.skin-monobook.mbm-on #p-search #searchInput {
    flex: 1 1 auto;
    padding-left: 1em;
    opacity: 0.8;
}
.skin-monobook.mbm-on #p-search #searchInput::-webkit-search-cancel-button {
    filter: saturate(0);
}
.skin-monobook.mbm-on #column-one #p-logo,
.skin-monobook.mbm-on #column-one #p-search {
    border: none;
    border-bottom: 2px solid hsla(0,0%,50%,0.2);
}
.skin-monobook.mbm-on #column-one #p-personal {
    order: 3;
    position: static;
    top: initial;
    left: initial;
    overflow: initial;
}
.skin-monobook.mbm-on #column-one #p-personal h5 {
    display: block;
}
.skin-monobook.mbm-on #column-one #p-cactions {
    order: 4;
    position: static;
    top: initial;
    left: initial;
    overflow: initial;
    padding: 0;
}
.skin-monobook.mbm-on #column-one #p-cactions h5 {
    display: inline;
    font-size: 95%;
    height: 1em;
}
.skin-monobook.mbm-on #column-one #p-cactions li {
    display: flex;
    flex: 1 1 50%;
    border: none;
    margin: 0;
    text-align: center;
    padding: 0;
    background: transparent;
}
.skin-monobook.mbm-on #column-one #p-cactions li a {
    background: transparent;
    margin: 0 auto;
}
.skin-monobook.mbm-on #column-one #p-personal li[id^="pt-"] {
    display: flex;
    flex: 1 1 50%;
    padding: 0;
    margin: 0;
}
.skin-monobook.mbm-on #column-one #p-personal .pBody > ul,
.skin-monobook.mbm-on #column-one #p-cactions .pBody > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.skin-monobook.mbm-on #column-one #p-personal #pt-wall-notifications,
.skin-monobook.mbm-on #column-one #p-personal #wall-notifications-monobook,
.skin-monobook.mbm-on #column-one #p-personal .wall-notifications-monobook,
.skin-monobook.mbm-on #column-one #p-personal #DisplayClockJS {
    position: static;
    display: block;
    clear: both;
    width: auto;
    text-align: center;
    margin: 0;
}
.skin-monobook.mbm-on #column-one #p-personal #wall-notifications-dropdown {
    background: none !important;
    border: solid hsla(0, 0%, 0%, 0.2);
    border-width: 1px 0 0;
    border-collapse: collapse;
    position: static;
    width: 100%;
}
.skin-monobook.mbm-on.page-dark #column-one #p-personal #wall-notifications-dropdown {
    border: solid hsla(0, 0%, 100%, 0.2);
    border-width: 1px 0 0;
}
.skin-monobook.mbm-on.page-dark #column-one #p-personal #wall-notifications-dropdown td {
    padding: 0;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-dropdown #wall-notifications-inner {
    width: 100%;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-dropdown .notifications-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em;
    box-sizing: border-box;
    font-size: 13px;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-dropdown #wall-notifications-markasread {
    top: 0.75em;
    right: -0.25em;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-dropdown .notification {
    width: calc(100% - 60px)
}
.skin-monobook.mbm-on #p-personal #wall-notifications-inner li:not(:first-child),
.skin-monobook.mbm-on #p-personal #wall-notifications-inner .notifications-for-wiki-list {
    border-top: 1px solid hsla(0, 0%, 0%, 0.2) !important;
}
.skin-monobook.mbm-on.page-dark #p-personal #wall-notifications-inner li:not(:first-child),
.skin-monobook.mbm-on.page-dark #p-personal #wall-notifications-inner .notifications-for-wiki-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.2) !important;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-inner .notifications-wiki-header {
    background: none;
    color: inherit;
    font-size: 13px;
    font-weight: bold;
    padding: 0.5em 0.75em;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-inner .notifications-wiki-count {
    color: #fff;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-inner .notifications-for-wiki .chevron {
    border-color: transparent transparent transparent #3a3a3a;
}
.skin-monobook.mbm-on #p-personal #wall-notifications-inner .notifications-for-wiki.show .chevron {
    border-color: #3a3a3a transparent transparent transparent;
}
.skin-monobook.mbm-on.page-dark #p-personal #wall-notifications-inner .notifications-for-wiki .chevron {
    border-color: transparent transparent transparent #d5d4d4;
}
.skin-monobook.mbm-on.page-dark #p-personal #wall-notifications-inner .notifications-for-wiki.show .chevron {
    border-color: #d5d4d4 transparent transparent transparent;
}
.skin-monobook.mbm-on #column-one #p-personal li a {
    padding: 0.5em;
    width: 100%;
    text-align: center;
}
.skin-monobook.mbm-on #column-one #p-personal #pt-userpage {
    background-image: none;
}
.skin-monobook.mbm-on #column-one .generated-sidebar,
.skin-monobook.mbm-on #column-one #p-tb,
.skin-monobook.mbm-on #column-one #p-wikicities-nav,
.skin-monobook.mbm-on #column-one #p-lang {
    order: 5;
}
/** Article **/
.skin-monobook.mbm-on #column-content {
    order: 2;
    float: none;
    margin: 0;
    border: none;
    min-height: calc(100vh - 134px);
    overflow-x: hidden;
    position: relative;
}
.skin-monobook.mbm-on #column-content #content {
    border: none;
    margin: 0;
    background: transparent;
}
.skin-monobook.mbm-on #content .firstHeading,
.skin-monobook.mbm-on #content #firstHeading {
    font-weight: bold;
    border: none;
    margin: 0 -14px;
    padding: 14px 14px 4px;
}
.skin-monobook.mbm-on #column-content #siteSub,
.skin-monobook.mbm-on #column-content #contentSub,
.skin-monobook.mbm-on #column-content #contentSub2 {
    display: block;
    margin: 0 -14px;
    padding: 0 14px 14px;
    font-weight: bold;
    font-size: 12px;
}
.skin-monobook.mbm-on #column-content #contentSub:empty {
    display: none;
}
/** Footer **/
.skin-monobook.mbm-on #footer {
    display: flex;
    order: 3;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin: 0;
    padding: 1em;
    text-align: center;
    color: #fff;
    font-size: inherit;
}
.skin-monobook.mbm-on #footer #f-copyrightico,
.skin-monobook.mbm-on #footer #f-poweredbyico {
    display: flex;
    flex: 1 1 50%;
    margin: 0 0 0.5em;
}
.skin-monobook.mbm-on #footer #f-copyrightico a {
    margin-right: auto;
}
.skin-monobook.mbm-on #footer #f-poweredbyico a {
    margin-left: auto;
}
.skin-monobook.mbm-on #footer #lastmod {
    display: flex;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 0.5em;
}
.skin-monobook.mbm-on #footer #f-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    margin: 0 0.5em;
}
.skin-monobook.mbm-on #footer #footerlinks {
    display: flex;
    margin: 0;
    text-align: center;
}
.skin-monobook.mbm-on #footer #footerlinks ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0.5em auto;
}
.skin-monobook.mbm-on #footer #footerlinks li {
    border-top: 2px solid hsla(0,0%,50%,0.2);
    font-size: 13px;
    font-weight: bold;
    margin: 0.5em 1em;
    padding-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: calc(50% - 2em);
}
/** Content **/
.skin-monobook.mbm-on #mw-content-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14px;
}
.skin-monobook.mbm-on #mw-content-text .main-page-tag-lcs-exploded,
.skin-monobook.mbm-on #mw-content-text .lcs-container {
    margin: 0 !important;
    width: 100%;
}
.skin-monobook.mbm-on #mw-content-text .main-page-tag-rcs {
    float: right;
    clear: right;
    width: 100%;
}
.skin-monobook.mbm-on #mw-content-text > *:first-child {
    margin-top: 0;
}
.skin-monobook.mbm-on #mw-content-text > h2 {
    font-weight: bold;
    border-bottom: none;
}
.skin-monobook.mbm-on #mw-content-text .infobox,
.skin-monobook.mbm-on #mw-content-text .portable-infobox,
.skin-monobook.mbm-on #mw-content-text > table:first-child,
.skin-monobook.mbm-on #mw-content-text > div:first-child,
.skin-monobook.mbm-on #mw-content-text .metadata,
.skin-monobook.mbm-on #mw-content-text .notice,
.skin-monobook.mbm-on #mw-content-text .quote,
.skin-monobook.mbm-on #mw-content-text blockquote,
.skin-monobook.mbm-on #mw-content-text .portable-infobox + div,
.skin-monobook.mbm-on #mw-content-text > figure {
    min-width: 200px;
    clear: none !important;
    float: none !important;
}
.skin-monobook.mbm-on #mw-content-text .portable-infobox {
    margin-left: 0;
    margin-right: 0;
}
.skin-monobook.mbm-on #mw-content-text .portable-infobox .pi-title {
    display: none;
}
.skin-monobook.mbm-on #mw-content-text .portable-infobox figure {
    margin: 0;
}
.skin-monobook.mbm-on #mw-content-text .portable-infobox .pi-data-label:not(.pi-horizontal-group-item):not(.pi-smart-data-label) {
    padding: 0;
}
.skin-monobook.mbm-on #mw-content-text > div {
    position: static !important;
}
.skin-monobook.mbm-on #mw-content-text *[class^="toc"]:not(table) {
    width: 100%;
    border-left: none !important;
    border-right: none !important;
}
.skin-monobook.mbm-on #mw-content-text > h1,
.skin-monobook.mbm-on #mw-content-text > h2,
.skin-monobook.mbm-on #mw-content-text > h3,
.skin-monobook.mbm-on #mw-content-text > h4,
.skin-monobook.mbm-on #mw-content-text > h5,
.skin-monobook.mbm-on #mw-content-text > h6,
.skin-monobook.mbm-on #mw-content-text > ul,
.skin-monobook.mbm-on #mw-content-text > ol {
    width: 100%;
}
.skin-monobook.mbm-on #mw-content-text .noarticletext {
    background: transparent;
    color: inherit;
    border: none;
}
.skin-monobook.mbm-on #mw-content-text .toccolours {
    width: 100%;
}
.skin-monobook.mbm-on #mw-content-text img {
    max-width: 100%;
    height: auto;
}
.skin-monobook.mbm-on #mw-content-text .article-thumb {
    width: 100% !important;
}
.skin-monobook.mbm-on #mw-content-text .image-thumbnail .thumbimage {
    border: none;
    margin: 0 auto;
}
.skin-monobook.mbm-on #mw-content-text .article-table,
.skin-monobook.mbm-on #mw-content-text .wikitable,
.skin-monobook.mbm-on #mw-content-text table,
.skin-monobook.mbm-on #mw-content-text pre {
    max-width: 100%;
    overflow: hidden;
}
.skin-monobook.mbm-on #mw-content-text pre {
    word-break: break-word;
    white-space: pre-wrap;
}
.skin-monobook.mbm-on #mw-content-text .ajax-poll,
.skin-monobook.mbm-on #mw-content-text .ajax-poll .pollAnswerVotes {
    width: auto;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-wrapper,
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-images {
    max-width: 100%;
    margin: 0 auto;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-images-wrapper {
    padding: 0;
    position: relative;
    width: auto;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-prev-next .wikia-slideshow-next,
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-prev-next .wikia-slideshow-prev {
    top: calc(50% - 30px) !important;
    background-image: url("http://slot1.images.wikia.nocookie.net/__cb1469820601/common/extensions/wikia/Lightbox/images/sprite-Lightbox.png");
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-prev-next .wikia-slideshow-next,
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-prev-next .wikia-slideshow-next:hover {
    background-position: -32px 0px;
    background-size: 432px;
    background-repeat: no-repeat;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-prev-next .wikia-slideshow-prev, .skin-monobook.mbm-on .wikia-slideshow-prev-next .wikia-slideshow-prev:hover {
    background-position: -63px 0px;
    background-size: 432px;
    background-repeat: no-repeat;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-toolbar {
    padding: 5px;
    background: hsla(0,0%,50%,0.26);
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-images .thumbimage {
    height: auto !important;
    max-width: 100%;
}
.skin-monobook.mbm-on .wikia-slideshow .wikia-slideshow-popout {
    padding-left: 5px;
}
.skin-monobook.mbm-on .wikia-gallery,
.skin-monobook.mbm-on .WikiaPhotoGalleryPreview {
    zoom: 0.6;
}
@media screen and (max-width: 480px) {
.skin-monobook.mbm-on .wikia-gallery,
.skin-monobook.mbm-on .WikiaPhotoGalleryPreview {
    zoom: 0.5;
}
}
@media screen and (max-width: 420px) {
.skin-monobook.mbm-on .wikia-gallery,
.skin-monobook.mbm-on .WikiaPhotoGalleryPreview {
    zoom: 0.4;
}
}
/** Editor **/
.skin-monobook.mbm-on.action-edit #content #toolbar {
    border: solid hsla(0, 0%, 0%, 0.2);
    border-width: 1px 1px 0;
}
.skin-monobook.mbm-on.action-edit #content #wpTextbox1 {
    box-sizing: border-box;
    border-color: hsla(0, 0%, 0%, 0.2);
}
.skin-monobook.mbm-on.action-edit #content #toolbar .mw-toolbar-editbutton {
    width: 23px;
    height: 22px;
    padding: 31px 20px 9px 20px;
    box-sizing: border-box;
    display: inline-block;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    background-position: center;
    background-repeat: no-repeat;
}
.skin-monobook.mbm-on.action-edit.page-dark #content #toolbar .mw-toolbar-editbutton {
    border-right: 1px solid hsla(0, 0%, 100%, 0.2);
}
.skin-monobook.mbm-on.action-edit.page-dark #content #toolbar {
    border: solid hsla(0, 0%, 100%, 0.2);
    border-width: 1px 1px 0;
}
.skin-monobook.mbm-on.action-edit.page-dark #content #wpTextbox1 {
    color: #d5d5d4;
    border-color: hsla(0, 0%, 100%, 0.2);
}
.skin-monobook.mbm-on #mw-editbutton-bold {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/bold-b.svg');
}
.skin-monobook.mbm-on #mw-editbutton-italic {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/italic-i.svg');
}
.skin-monobook.mbm-on #mw-editbutton-link {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/link.svg');
}
.skin-monobook.mbm-on #mw-editbutton-extlink {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/modules/ve-mw/ui/styles/images/icons/source.svg');
}
.skin-monobook.mbm-on #mw-editbutton-headline {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/text-style.svg');
}
.skin-monobook.mbm-on #mw-editbutton-image {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/image.svg');
}
.skin-monobook.mbm-on #mw-editbutton-media {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/video.svg');
}
.skin-monobook.mbm-on #mw-editbutton-math {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/superscript.svg');
}
.skin-monobook.mbm-on #mw-editbutton-nowiki {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/clear.svg');
}
.skin-monobook.mbm-on #mw-editbutton-signature {
    background-image: url('//images.wikia.nocookie.net/speedit/images/7/77/Signature.svg');
    background-size: 20px;
}
.skin-monobook.mbm-on #mw-editbutton-hr {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/window.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-bold {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/bold-b-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-italic {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/italic-i-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-link {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/link-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-extlink {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/modules/ve-mw/ui/styles/images/icons/source-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-headline {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/text-style-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-image {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/image-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-media {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/video-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-math {
    background-image: url('//images.wikia.nocookie.net/common/extensions/VisualEditor/lib/ve/src/ui/styles/images/icons/superscript-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-nowiki {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/clear-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-signature {
    background-image: url('//images.wikia.nocookie.net/speedit/images/f/ff/Signature-white.svg');
}
.skin-monobook.mbm-on.page-dark #mw-editbutton-hr {
    background-image: url('//images.wikia.nocookie.net/common/resources/lib/oojs-ui/themes/apex/images/icons/window-white.svg');
}
@media only screen and (max-width: 720px) {
    .skin-monobook.mbm-on.action-edit #content #toolbar .mw-toolbar-editbutton,
    .skin-monobook.mbm-on.action-edit.page-dark #content #toolbar .mw-toolbar-editbutton {
        border: none;
    }
    .skin-monobook.mbm-on.action-edit #content #toolbar {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    }
}
/** History **/
.skin-monobook.mbm-on.action-history #mw-content-text {
    display: block;
}
.skin-monobook.mbm-on.action-history .mw-history-legend p span {
    white-space: normal !important
}
.skin-monobook.mbm-on.action-history #mw-history-compare #pagehistory li {
    border: 1px solid transparent;
    padding: 0.5em;
}
.skin-monobook.mbm-on.action-history #mw-history-compare #pagehistory li.selected {
    background-color: hsla(0, 0%, 0%, 0.17);
    border: 1px dashed currentColor;
}
.skin-monobook.mbm-on.action-history.page-dark #mw-history-compare #pagehistory li.selected {
    background-color: hsla(0, 0%, 100%, 0.17);
}
.skin-monobook.mbm-on.action-history #mw-history-compare #pagehistory li:last-child {
    padding: 0.5em 0.5em 1em;
}
.skin-monobook.mbm-on.action-history #mw-history-compare #pagehistory input {
    height: auto;
    margin-top: 0;
}
.skin-monobook.mbm-on #mw-content-text table.diff tr {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
}
.skin-monobook.mbm-on #mw-content-text table.diff,
.skin-monobook.mbm-on #mw-content-text table.diff tbody {
    display: flex;
    flex-flow: column nowrap;
}
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-lineno ~ td.diff-lineno,
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-context ~ td.diff-context,
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-marker,
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-empty {
    display: none;
}
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-addedline,
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-deletedline,
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-context {
    border-radius: 0;
}
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-addedline:nth-child(2),
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-deletedline:nth-child(2),
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-context:nth-child(2) {
    margin-top: 1em;
}
.skin-monobook.mbm-on #mw-content-text table.diff td.diff-context:empty:before {
    content: ' ';
    line-height: 1em;
}
/** Uploader **/
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-source,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-description,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-source tbody,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-description tbody,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-source tr,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-description tr,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-source td,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #mw-htmlform-description td {
    display: flex;
    flex-direction: column;
}
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form .mw-label {
    font-style: italic;
    text-align: left;
}
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form legend {
    font-weight: bold;
}
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #wpUploadFile,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #wpDestFile,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #wpUploadDescription,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #wpLicense,
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #edittools_wikimarkup {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.skin-monobook.mbm-on.mw-special-Upload #mw-upload-form #wpUploadFile {
    border: none;
}
/** Contributions **/
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table {
    box-sizing: border-box;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table,
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table tbody,
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table tr {
    display: flex;
    flex-flow: column nowrap;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table .mw-label {
    text-align: left;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[type="checkbox"],
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[type="radio"] {
    height: 1em;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table tr:nth-child(n+2) {
    margin-top: 0.5em;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table tr:nth-child(2) td,
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table tr:nth-child(4) td {
    display: flex;
    flex-flow: column nowrap;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table span[style] {
    white-space: normal !important;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[name="target"],
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[name="tagfilter"],
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[name="year"],
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table input[name="month"] {
    border-width: 1px;
    box-sizing: border-box;
    clear: both;
    width: 100%;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table #namespace + span {
    margin-top: -0.5em;
}
.skin-monobook.mbm-on.mw-special-Contributions .mw-contributions-table .mw-submit {
    clear: both;
    display: block;
    margin-top: 1em;
}
/** Lua console **/
.skin-monobook.mbm-on #mw-scribunto-console .mw-scribunto-console-fieldset {
    background: none;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
}
.skin-monobook.mbm-on #mw-scribunto-console #mw-scribunto-output {
    white-space: pre-wrap;
}
.skin-monobook.mbm-on #mw-scribunto-console #mw-scribunto-output > * {
    margin: 0;
    padding: 0.5em 0;
}
.skin-monobook.mbm-on #mw-scribunto-console #mw-scribunto-output > *:not(:last-child) {
    border-bottom: 1px solid currentColor;
}
.skin-monobook.mbm-on #mw-scribunto-console .mw-scribunto-message {
    background: none;
    padding-top: 0;
}
.skin-monobook.mbm-on #mw-scribunto-console .mw-scribunto-error,
.skin-monobook.mbm-on #mw-scribunto-console .mw-scribunto-print  {
    background: none;
}
